# ASP.NET
# Build and test ASP.NET projects.
# Add steps that publish symbols, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/apps/aspnet/build-aspnet-4

trigger:
- master
- develop

pool:
  vmImage: 'windows-latest'

variables:
  solution: '**/*.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'

steps:
- task: GitVersion@5
  inputs:
    runtime: 'core'

- task: colinsalmcorner.colinsalmcorner-buildtasks.version-assemblies-task.VersionAssemblies@2
  displayName: 'Version Assemblies using **/*.csproj'
  inputs:
    filePattern: '**/*.csproj'
    versionSource: variable
    customNumberVariable: GitVersion.NuGetVersion
    versionFormat: threeParts
    replaceVersionFormat: custom
    customReplaceRegex: '<VersionPrefix>\d+\.\d+\.\d+\.\d+</VersionPrefix>'
    replacePrefix: '<VersionPrefix>'
    replacePostfix: '</VersionPrefix>'

- task: NuGetToolInstaller@0
  displayName: 'Use NuGet 5.5.0'
  inputs:
    versionSpec: '5.5.0'

- task: NuGetCommand@2
  inputs:
    restoreSolution: '$(solution)'

- task: VSBuild@1
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: VSTest@2
  inputs:
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'

- task: jabbera.git-tag-on-release-task.git-tag-on-release-task.git-tag-on-release-task@6
  displayName: 'Tag Artifacts'
  inputs:
    staticTagName: '$(Build.BuildNumber)'
  condition: and(succeeded(), eq(variables['Build.SourceBranch'], 'refs/heads/master'))

- task: NuGetCommand@2
  displayName: 'NuGet push'
  inputs:
    command: push
    packagesToPush: '**/*.nupkg'
    nuGetFeedType: external
    publishFeedCredentials: Nuget

